@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// 0      -   600px   :   Phone
// 600    -   900px   :   Tablet portrait
// 900    -   1200px  :   Tablet landscape
// 1200   +           :   Is where our normal styles apply
// 1800px +           :   Big desktop

// $breakpoint arguement choices:
// phone              -   xs
// tablet portrait    -   sm
// tablet landscape   -   md
// big desktop        -   lg

// ORDER: Base + typography > general layout + grid > page layout > components
// 1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    // 600px, 600/16 = 37.5
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == sm {
    // 900px, 900/16 = 56.25
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == md {
    // 1200px, 1200/16 = 75
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // 1200px +, 1201/16 = 75.0625
    @media only screen and (min-width: 75.0625) {
      @content;
    }
  }
}
